.button {
    width: 95%;
    margin: auto;
    cursor: pointer;
    color: rgb(225, 225, 212);
    background-color: rgb(239, 64, 86);
    border-radius: 5px;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    font-size: small;
    
}