.container {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 40px;
    color: antiquewhite;
    border: 0.5px solid grey;
    border-radius: 5px;
    align-items: center;
}

$color:rgb(211,47,47);

.pluse {
    color: $color;
    font-weight: bolder;
    font-size: larger;

}

.minus {
    @extend .pluse;

}

.numb {
    @extend .pluse;

}

.remove {
    @extend .pluse;


}