$navColor: rgb(98, 102, 114);



.ul {
    display: flex;
    direction: rtl;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    direction: rtl;

}

.rightContainer {
    flex-basis: 90%;
    display: flex;

}

.leftContainer {
    flex-basis: 15%;
    display: flex;
}

.ul {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
}
.li{
    @extend .a;
}
.li::after{
    content:"";
    display:flex;

    width:0%;
    background-color: red;
    height: 2px;
    transition:width 0.5s ;
    

}
.li:hover::after{width:100%;}





.fli {
    @extend .li;
    flex-basis: 15%;
}

.a {
    text-decoration: none;
    display: inline-block;
    color: $navColor;

}

.fliIcon {
    font-size: larger;
    font-weight: bolder;
    color: rgb(26, 24, 37);
}

.fliName {
    @extend .fliIcon;

}

.fliLine {
    @extend .fliIcon;
    color: $navColor;
    margin-right: 15px;
    top: 0;


}

.liName {
    // font-size: small;
    color: $navColor;

}

.liIcon {
    font-weight: bolder;
    color: $navColor;
    margin: 2px;

}

.midNav {
    color: $navColor;
    justify-content: space-around;
    flex-basis: 20%;
    display: flex;
}