.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}
.authContainer{
    border: 1px solid rgb(210, 209, 209);
    width: 30%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    


}
.Form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.btn{
    color: aliceblue;
    width: 90%;
    margin: auto;
    background-color: rgb(239,64,86);
    border-radius: 8px;
    height: 40px;
    margin-top: 15px;
}